[submodule "assets/scripts/leaflet-groupedlayercontrol"]
	path = assets/scripts/leaflet-groupedlayercontrol
	url = https://github.com/AcrossTheCloud/leaflet-groupedlayercontrol.git
[submodule "assets/scripts/tokml"]
	path = assets/scripts/tokml
	url = https://github.com/mapbox/tokml.git
